.App {
  text-align: center;
}

:root {
  background-image: radial-gradient(circle, #0074a6, #3e507a, #3d324c, #271b24, #000000);
  font-family: sans-serif;
  padding-bottom: 400px;
}

h1 {
  text-align: center;
  color: cyan;
}

h3 {
  text-align: center;
  color: #f0deef;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  color: hotpink;
}